ion-content {
  --background: white;
}

form {
    background-color: white;
}
  
  small {
    color: red;
  }
  
  .box{
      padding: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .box h1{
      color: white;
      text-transform: uppercase;
      font-weight: 500;
    }
    .box input[type = "text"],.box input[type = "password"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #57AA45;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      color: black;
      border-radius: 24px;
      transition: 0.25s;
    }
    .box input[type = "text"]:focus,.box input[type = "password"]:focus{
      width: 280px;
      border-color: #57AA45;
    }
    .box button[type = "submit"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #57AA45;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
   
    
    ion-button {
      --background: #57AA45;
    }

  .spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
