<ion-header>
  <ion-toolbar>
    <ion-title>Collaborators</ion-title>
    <ion-icon name="close-circle-outline" slot="end" (click)="close()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="usersList && selectedCollection">
    <ion-list-header>
      Owner
    </ion-list-header>
    <ion-item lines="none" [routerLink]="['/popdocs/profile', selectedCollection.user._id]" (click)="close()">
      <ion-avatar slot="start">
        <img *ngIf="usersList[selectedCollection.user._id] && usersList[selectedCollection.user._id].userInfo.image" [src]="'https:' + usersList[selectedCollection.user._id].userInfo.image">
        <img *ngIf="usersList[selectedCollection.user._id] && !usersList[selectedCollection.user._id].userInfo.image" ngxGravatar [email]="usersList[selectedCollection.user._id].email"/>      
      </ion-avatar>
      <ion-label *ngIf="usersList[selectedCollection.user._id]">
        <h2>{{usersList[selectedCollection.user._id].name}}</h2>
        <p>Author</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      Shared with
    </ion-list-header>
    <ion-item lines="none" *ngFor="let collab of selectedCollection.shareList" [routerLink]="['/popdocs/profile', collab.meta]" (click)="close()">
      <ion-avatar slot="start">
        <img *ngIf="usersList[collab.meta] && usersList[collab.meta].userInfo.image" [src]="'https:' + usersList[collab.meta].userInfo.image">
        <img *ngIf="usersList[collab.meta] && !usersList[collab.meta].userInfo.image" ngxGravatar [email]="usersList[collab.meta].email"/>
      </ion-avatar>
      <ion-label *ngIf="usersList[collab.meta]">
        <h2>{{usersList[collab.meta].name}}</h2>
        <p>Can edit</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="add-outline"></ion-icon>  Invite user
  </ion-tab-button>
</ion-tab-bar>
